default:
  image: node:22-alpine

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH

pages:
  stage: deploy
  script:
    - npm ci
    - npm run build
    - mv dist public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  environment: production

test:
  stage: test
  script:
    - npm ci
    - npm run build
  rules:
    - if: $CI_COMMIT_BRANCH != "master"
